@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("@/assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@layer base {
  *,
  *::before,
  *::after {
    scrollbar-width: thin;
    scrollbar-color: #0000003d transparent;
    box-sizing: border-box;
  }
  html,
  body,
  #app {
    width: 100%;
    height: 100%;
    font-family: "Inter", sans-serif;
  }
  img {
    user-select: none;
  }
  /* Firefox */
  .no-scrollbar {
    scrollbar-width: none; /* gizle */
  }

  /* Chrome, Safari, Edge */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* fade animation */
  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in {
    animation: fade-in 0.8s ease-out 0.2s both;
  }

  .animate-slide-down {
    animation: slide-down 0.6s ease-out 0.3s both;
  }

  .animate-slide-up {
    animation: slide-up 0.6s ease-out 0.5s both;
  }

  .animate-marquee {
    animation: marquee 30s linear infinite;
    width: max-content;
  }

  @media (max-width: 640px) {
    .animate-fade-in {
      animation: fade-in 0.6s ease-out both;
    }

    .animate-slide-down {
      animation: slide-down 0.5s ease-out both;
    }

    .animate-slide-up {
      animation: slide-up 0.5s ease-out both;
    }
  }

  /* Marquee */
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(100%);
    }
  }

  /* Custom datepicker */
  .custom-datepicker input {
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    font-size: 13px;
    height: 26px;
    border-radius: 4px;
  }

  .custom-datepicker .vdp-datepicker__calendar {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    font-size: 14px;
  }

  .custom-datepicker .vdp-datepicker__calendar-header,
  .custom-datepicker .vdp-datepicker__calendar-week,
  .custom-datepicker .vdp-datepicker__calendar-days {
    font-size: 14px;
  }

  /* Chrome, Safari, Edge */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #bcbcbc;
    border-radius: 8px;
    transition: background 0.2s ease;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #9a9a9a;
  }

  /* Header */
  .nav_item {
    @apply sm:text-base text-sm leading-[100%] tracking-[0%] text-[#222222] hover:text-[#F98900] transition-colors duration-200;
  }

  /* Notification bar */
  .notification_bar {
    @apply sm:text-[12px] text-[10px] leading-[100%] tracking-[0%] text-[#fff];
  }

  /* Gradients */
  .bg-custom-gradient {
    background: linear-gradient(
      267.81deg,
      #ffc359 0.61%,
      #ffa50d 27.92%,
      #ffc156 61.61%,
      #ffa100 91.66%
    );
  }

  /* index.css */
  .bg-custom-overlay {
    background: linear-gradient(
      358.89deg,
      rgba(0, 0, 0, 0) -400.7%,
      rgba(0, 0, 0, 0.4) 449.2%
    );
  }

  .curve-container {
    position: relative;
    height: 80px;
    margin-top: -40px;
  }

  .curve-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 140%;
    height: 100%;
    background: #f6f9ff;
    border-top-left-radius: 100% 100%;
    border-top-right-radius: 100% 100%;
  }
}
